---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Presentations from '../components/Presentations.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Presentations | Greg Sypolt">
  <Navigation />
  <div class="pt-16">
    <Presentations />
    <Contact />
  </div>
</Layout>